---
title: Deprecated Releases
layout: base
---

%h2 Deprecated Releases

%p.notice
  The files listed here are <em>deprecated</em>.  All users are encouraged to upgrade to <a href="../downloads/">the latest version</a>.

%ul
  - Dir.glob("downloads/*.bz2").sort{|x,y| y <=> x }.each do |f|
    - unless f.include?(site.stableReleaseVersion) or site.unstableReleaseVersion and f.include?(site.unstableReleaseVersion)
      - f.sub!(/^downloads\//, '')
      %li <a href="#{f}"><tt>#{f}</tt></a>

