---
title: Get involved!
layout: base
---

%p.deck{ :lang=>'en' }
  Getting involved with the Netty community is easier than you think.<br />
  <em>Tell us what you think, and open the future of network programming.</em>

.panel-wrapper
  .panel
    %h2 Post questions

    %p We use <a href="http://stackoverflow.com/questions/tagged/netty">StackOverflow</a> as the place to ask the ques&shy;tions.  Just tag your ques&shy;tion with '<tt><em>netty</em></tt>', and then we will pick your ques&shy;tions and an&shy;swer them up.

  .panel
    %h2 Follow us at Twitter

    %p Stay tuned on the latest quick news re&shy;lated with Netty by fol&shy;low&shy;ing <a href="https://twitter.com/netty_project"/>@netty_project</a> at Twit&shy;ter.  And don't forget about <a href="../blog/">our blog</a>. :-)

  .panel
    %h2 Commit your code

    %p It's all about open source! Netty is hos&shy;ted at <a href="https://github.com/netty/">Github</a>. Feel free to fork it, play with it, is&shy;sue a pull re&shy;quest, and join the dis&shy;cus&shy;sion.  Also, check out <a href="http://feeds2.feedburner.com/netty_project_activities">the re&shy;cent pro&shy;ject activ&shy;it&shy;ies</a>.

  .panel
    %h2 Join the mailing list

    %p We also have a <a href="http://groups.google.com/group/netty">Google Group</a> ded&shy;ic&shy;ated to the pro&shy;ject de&shy;vel&shy;op&shy;ment. If you have something to say about the fu&shy;ture of the pro&shy;ject, this is the place.

