---
title: Get involved!
layout: base
---

%p.deck{ :lang=>'en' }
  Getting involved with the Netty community is easier than you think.<br />
  <em>Tell us what you think, and open the future of network programming.</em>

.panel-wrapper
  .panel
    %h2 Post questions

    %p We use <a href="http://stackoverflow.com/questions/tagged/netty"><em>StackOverflow</em></a> as the place to ask the ques&shy;tions.  Just tag your ques&shy;tion with '<em>jboss-netty</em>', and then we will an&shy;swer it up.

  .panel
    %h2 Stay tuned

    %p Follow <a href="https://twitter.com/netty_project"/><em>@netty_project</em></a> at Twit&shy;ter, men&shy;tion us, and use the '<em>#netty</em>' hash&shy;tag. Subscribe to <a href="http://feeds.feedburner.com/netty_project"><em>our RSS feed</em></a> to get useful information.

  .panel.clear
    %h2 Report a bug

    %p Found a bug? Browse <a href="https://github.com/netty/netty/issues"><em>our is&shy;sue track&shy;er</em></a> and file an is&shy;sue if it was not re&shy;por&shy;ted be&shy;fore. Get back and let us know if our fix worked out.

  .panel
    %h2 Recommend to others

    %p Did Netty help you a lot re&shy;cently?  Would you re&shy;com&shy;mend it to your col&shy;leagues?  Think about writ&shy;ing <a href="../testimonials/"><em>a testi&shy;mo&shy;ni&shy;al</em></a> to mo&shy;tiv&shy;ate us.

  .panel.clear
    %h2 Commit your code

    %p It's all open source! Netty is hos&shy;ted at <a href="https://github.com/netty/"><em>Github</em></a>. Feel free to fork it, is&shy;sue a pull re&shy;quest, and join the dis&shy;cus&shy;sion.  Also, check out <a href="http://feeds2.feedburner.com/netty_project_activities"><em>the re&shy;cent pro&shy;ject activ&shy;it&shy;ies</em></a>.

  .panel
    %h2 Join the mailing list

    %p We also have a <a href="https://groups.google.com/d/forum/netty"><em>Google Group</em></a> ded&shy;ic&shy;ated to the pro&shy;ject de&shy;vel&shy;op&shy;ment. If you have something to say about the fu&shy;ture of the pro&shy;ject, this is the place.

