---
title: Get involved!
layout: base
---

%p.deck{ :lang=>'en' }
  Getting involved with the Netty community is easier than you think.<br />
  <em>Tell us what you think, and open the future of network programming.</em>

%h2 Post questions

%p We use <a href="http://stackoverflow.com/questions/tagged/netty">StackOverflow</a> as the place to ask the ques&shy;tions.  Just tag your ques&shy;tion with '<b>netty</b>', and then we will respond.

%h2 Stay tuned

%p Follow <a href="https://twitter.com/netty_project"/>@netty_project</a> at Twit&shy;ter, men&shy;tion us, and use the '<b>#netty</b>' hash&shy;tag. Subscribe to <a href="http://feeds.feedburner.com/netty_project">our RSS feed</a> to get use&shy;ful in&shy;form&shy;a&shy;tion.  If you are in&shy;ter&shy;ested in how we work with code, sub&shy;scribe to <a href="http://feeds2.feedburner.com/netty_project_activities">the re&shy;cent pro&shy;ject activ&shy;it&shy;ies</a>.

%h2 Report a bug

%p Found a bug? Browse <a href="https://github.com/netty/netty/issues">our is&shy;sue track&shy;er</a> and file an is&shy;sue if it was not re&shy;por&shy;ted be&shy;fore. Get back and let us know if it's fixed.

%h2 Recommend to others

%p Did Netty help you a lot re&shy;cently?  Would you re&shy;com&shy;mend it to your col&shy;leagues?  Think about writ&shy;ing <a href="/testimonials/">a testi&shy;mo&shy;ni&shy;al</a> to mo&shy;tiv&shy;ate us.

%h2 Commit your code

%p It's all open source! Netty is hos&shy;ted at <a href="https://github.com/netty/">Github</a>. Feel free to fork it, is&shy;sue a pull re&shy;quest, and join the dis&shy;cus&shy;sion.  We also have a <a href="https://groups.google.com/d/forum/netty">Google Group</a> for the top&shy;ics that need a broad&shy;er dis&shy;cus&shy;sion.  If your con&shy;tri&shy;bu&shy;tion is not trivi&shy;al, you will have to sign up <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHBjc1YzdWhsZERUQnhlSklsbG1KT1E6MQ">the Con&shy;trib&shy;ut&shy;or Li&shy;cense Agree&shy;ment (CLA)</a>.

