%html
  %head
    %title
      #{site.title}: #{page.title}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if IE]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }
    %link{ :rel=>'shortcut icon', :href=>'/images/favicon.ico' }
  %body.bp
    #container
      #header
        #logo
          %img{ :src=>'/images/logo.png' }
          %h1#project_name
            %span.large Netty
            %span.small project
        #navbar
          %ul
            %li
              %a{ :href=>'/' } Home
            %li
              %a{ :href=>'/docs/' } Documentation
            %li
              %a{ :href=>'/community/' } Community
            %li
              %a{ :href=>'/blog/' } Blog
        #searchbar
          #cse-search-form
          %script{ :src=>"//www.google.com/jsapi", :type=>"text/javascript" }
          :javascript
            google.load('search', '1', {language : 'en'});
            google.setOnLoadCallback(function() {
              var customSearchControl = new google.search.CustomSearchControl('016348183754172014713:rhhtb6ffqhg');
              customSearchControl.setResultSetSize(google.search.Search.LARGE_RESULTSET);
              var options = new google.search.DrawOptions();
              options.setAutoComplete(true);
              options.enableSearchboxOnly("http://www.google.com/cse?cx=016348183754172014713:rhhtb6ffqhg");
              customSearchControl.draw('cse-search-form', options);
            }, true);
          %link{ :rel=>"stylesheet", :href=>"//www.google.com/cse/style/look/default.css", :type=>"text/css" }
      #content{ :lang=>'en' }
        ~ content
      #sidebar
        #quicklinks
          %ul
            %li.highlight
              %a#download_now{ :href=>'/downloads/' } Download now
            %li
              %a#view_on_github{ :href=>'https://github.com/netty/netty/' } View on Github
            %li
              %a#follow_us_at_twitter{ :href=>'https://twitter.com/netty_project' } Follow us at Twitter

        #testimonial
          %h2 Testimonial
          %blockquote Netty proved in&shy;stru&shy;ment&shy;al in the ar&shy;chi&shy;tec&shy;ture of a re&shy;place&shy;ment of an ex&shy;ist&shy;ing high-speed serv&shy;er that parses and caches live stream&shy;ing quotes. Un&shy;der stress tests, the new serv&shy;er could parse and store in ex&shy;cess of 260,000 quotes/sec, a fig&shy;ure not re&shy;motely pos&shy;sible with block&shy;ing I/O. Netty's well-doc&shy;u&shy;mented API, ex&shy;cel&shy;lent ex&shy;amples and first-class sup&shy;port made de&shy;vel&shy;op&shy;ment a pleas&shy;ure and un&shy;locked the power of Java NIO. It is, hands-down, my first choice for a net&shy;work&shy;ing lib&shy;rary.
          .author
            Greg Haines, Ned Davis Research, Inc.
          .readmore
            %a{ :href=>'/testimonials' } (Read more..)
        
      #footer
        .legal
          <a href="/">The #{site.title} project</a> is a member of the <a href="http://jboss.org/">JBoss Community</a>.
          Copyright 2009-2011 <a href="http://www.redhat.com/">Red Hat, Inc.</a>
